<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Simple Icon Hover Effects with CSS Transitions and Animations</title>
		<meta name="description" content="Simple Icon Hover Effects with CSS Transitions and Animations" />
		<meta name="keywords" content="icons, hover, round, circular, transition, animation, css3" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="/static/buttons/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/static/buttons/css/component.css" />
		<script src="/static/buttons/js/modernizr.custom.js"></script>
	</head>
	<body>
			<section id="set-6">
				<div class="hi-icon-wrap hi-icon-effect-6">
					<a href="#set-6" class="hi-icon hi-icon-cog">Settings</a>
				</div>
			</section>
		</div><!-- /container -->
		<script>
			var hash = window.location.hash,
				current = 0,
				demos = Array.prototype.slice.call( document.querySelectorAll( '#codrops-demos > a' ) );
			
			if( hash === '' ) hash = '#set-1';
			setDemo( demos[ parseInt( hash.match(/#set-(\d+)/)[1] ) - 1 ] );

			demos.forEach( function( el, i ) {
				el.addEventListener( 'click', function() { setDemo( this ); } );
			} );

			function setDemo( el ) {
				var idx = demos.indexOf( el );
				if( current !== idx ) {
					var currentDemo = demos[ current ];
					currentDemo.className = currentDemo.className.replace(new RegExp("(^|\\s+)" + 'current-demo' + "(\\s+|$)"), ' ');
				}
				current = idx;
				el.className = 'current-demo'; 
			}
		</script>
	</body>
</html>