<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Add live realtime data</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>

<div id='map'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYmVuMCIsImEiOiJjajh1ZDMzNzkweXU5MnJvNmNjOGE1c3UzIn0.lj3vfW_n49fbhc1V46qfUA';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/ben0/cj8ud4j8we8ip2ts1pi5phr3a',
    zoom: 0
});

var url = 'http://127.0.0.1:8001';
var url2 = 'http://127.0.0.1:8001/geoline';
var url3 = 'http://127.0.0.1:8001/xIMs';

map.on('load', function () {

    map.addSource('drone', { type: 'geojson', data: url });
	map.addSource('drone_path', { type: 'geojson', data: url2 });
	map.addSource('xIMs', { type: 'geojson', data: url3 });
	map.addControl(new mapboxgl.NavigationControl());

    window.setInterval(function() {
        map.getSource('drone').setData(url);
		map.getSource('drone_path').setData(url2);
		map.getSource('xIMs').setData(url3);
		var features = map.queryRenderedFeatures({ layers: ['Trucks'] });
		var droneLngLat = features[0].geometry.coordinates
		map.flyTo({center: droneLngLat, 
				'zoom': 12, 
				'bearing':0, 
				'pitch':60,
				'speed':1
		});
    }, 1000);



    map.addLayer({
        "id": "drone",
        "type": "symbol",
        "source": "drone",
        "layout": {
            "icon-image": "rocket-15"
        },
		"includeGeometry": "true"
    });
    map.addLayer({
        "id": "route",
        "type": "line",
        "source": "drone_path",
        "layout": {
            "line-join": "round",
            "line-cap": "round"
        },
        "paint": {
            "line-color": "#888",
            "line-width": 8
        }
    });
    map.addLayer({
        "id": "Trucks",
        "type": "symbol",
        "source": "xIMs",
        "layout": {
            "icon-image": "rocket-15"
        },
		"includeGeometry": "true"
    });
	

	
});

</script>

</body>
</html>