<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Add live realtime data</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>

<div id='map'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYmVuMCIsImEiOiJjajh1ZDMzNzkweXU5MnJvNmNjOGE1c3UzIn0.lj3vfW_n49fbhc1V46qfUA';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/satellite-v9',
});

var url = 'http://127.0.0.1:8001';
map.on('load', function (e) {
    window.setInterval(function() {
        map.getSource('drone').setData(url);
		var coordinates = drone.features[0].geometry.coordinates
		console.log(coordinates)
		map.flyTo({center: drone.features[0].geometry.coordinates, 
				'zoom': 15, 
				'bearing':45, 
				'pitch':60
		});
    }, 2000);

    map.addSource('drone', { type: 'geojson', data: url });
    map.addLayer({
        "id": "drone",
        "type": "symbol",
        "source": "drone",
        "layout": {
            "icon-image": "rocket-15"
        }
    });
});
</script>

</body>
</html>